<div id="<%= dom_id project %>">
      <div class="row">
          <div class="col-12">
            <h3><%= project.title %></h3>
            <%= link_to project.link, project.link %>
    </div>
    <hr/>
    <div class="col-12">
        <%= project.body %>
      </div>
 

</div>
