<div id="<%= dom_id project %>">
   <div class="row">
  <div class="col-8">
    <%= project.title :title %>
  </div>
  <div class="col-4">
    <%= project. :link %>
  </div>
</div>
<div class="col">
  
    <%= project.body %>
  </div>
 

</div>
