<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
<p> Đây là trang chứa dự án </p>

<div id="projects" class="container card">
  <% @projects.each do |project| %>
      <h5><%=project.title%></h5>
        <%= link_to "Show this project", project ,class:"btn btn-primary" %>
     <div><%= project.body %></div>
  <% end %>
</div>


