<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
<p> Đây là trang chứa dự án </p>

<div id="projects" class="cả">
  <% @projects.each do |project| %>
      <h5><%= link_to project.title , project %></h5>
  
      <div><%= project.body %></div>
  <% end %>
</div>


