<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
<p> Đây là trang chứa dự án </p>

<div id="projects" class="card">
  <% @projects.each do |project| %>
      <h5><%=project.title , project %></h5>
  
      <div class=""><%= project.body %></div>
  <% end %>
</div>


