<div class="comment-<%= comment.id %> container" style="border: 1px solid black; padding: 1em; margin: 1em;">
    <%= comment.user.email %><br />
    <span> Posted <%= time_ago_in_work %> </span>

</div>
