<h1>New category</h1>



<div class="container ">
  <div class="card d-flex justify-content-center align-items-center">
  <%= render "form", category: @category %>
  </div>
  <br>
   <%= link_to "Back to categories", categories_path ,class:"btn btn-primary" %>

</div>
 